<a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
    <i class="mdi mdi-bell"></i>
    <span class="count">4</span>
</a>
<div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
    <a class="dropdown-item">
        <p class="mb-0 font-weight-normal float-left">
            You have 4 new notifications
        </p>
        <span class="badge badge-pill badge-warning float-right">View all</span>
    </a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item preview-item">
        <div class="preview-thumbnail">
            <div class="preview-icon bg-success">
                <i class="mdi mdi-alert-circle-outline mx-0"></i>
            </div>
        </div>
        <div class="preview-item-content">
            <h6 class="preview-subject font-weight-medium text-dark">Application Error</h6>
            <p class="font-weight-light small-text">
                Just now
            </p>
        </div>
    </a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item preview-item">
        <div class="preview-thumbnail">
            <div class="preview-icon bg-warning">
                <i class="mdi mdi-comment-text-outline mx-0"></i>
            </div>
        </div>
        <div class="preview-item-content">
            <h6 class="preview-subject font-weight-medium text-dark">Settings</h6>
            <p class="font-weight-light small-text">
                Private message
            </p>
        </div>
    </a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item preview-item">
        <div class="preview-thumbnail">
            <div class="preview-icon bg-info">
                <i class="mdi mdi-email-outline mx-0"></i>
            </div>
        </div>
        <div class="preview-item-content">
            <h6 class="preview-subject font-weight-medium text-dark">New user registration</h6>
            <p class="font-weight-light small-text">
                2 days ago
            </p>
        </div>
    </a>
</div>

