
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>AzR Blog</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/Themes/Admin/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/Themes/Admin/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/Themes/Admin/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/Themes/Admin/css/style.css">
</head>

<body>

    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
            
            @RenderBody()
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/Themes/Admin/vendors/js/vendor.bundle.base.js"></script>
    <script src="/Themes/Admin/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="/Themes/Admin/js/off-canvas.js"></script>
    <script src="/Themes/Admin/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="/Themes/Admin/js/dashboard.js"></script>
    <!-- End custom js for this page-->
@RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/jqueryval")

</body>

</html>

